.about {
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
    border-radius: 4rem;
    padding: 6rem;
    background-color: $white;
    @include tablet {
      display: flex;
      flex-direction: column;
      padding: 3.2rem;
      gap: 1.6rem;
      border-radius: 2rem;
    }
    @include small-tablet {
      padding: 2.4rem;
      border-radius: 2.4rem;
    }
  }
  /* .about__swiper-box */

  &__swiper-box {
    border-radius: 3.2rem;
    width: 85.4rem;
    height: 52.5rem;
    background: url(./assets/images/aboutBg.webp) no-repeat top/cover;
    @include tablet {
      width: 68.8rem;
      height: 45.2rem;
      border-radius: 2.5rem;
      order: 2;
    }
    @include small-tablet {
      border-radius: 2.4rem;
      width: 67rem;
      height: 42.2rem;
    }
  }

  /* .about__swiper */

  &__swiper {
    width: 100%;
  }

  /* .about__swiper-wrapper */

  &__swiper-wrapper {
  }

  /* .about__swiper-slide */

  &__swiper-slide {
  }

  /* .about__swiper-slide-img-box */

  &__swiper-slide-img-box {
    width: 85.4rem;
    height: 52.5rem;
    @include tablet {
      width: 68.8rem;
      height: 45.2rem;
    }
    @include small-tablet {
      width: 67rem;
      height: 42.2rem;
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  /* .about__text-box */

  &__text-box {
    border-radius: 3.2rem;
    background-color: $gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    gap: 3.2rem;
    padding: 4rem;

    @include tablet {
      border-radius: 2.4rem;
      width: 100%;
      padding: 4rem;
      order: 1;
      gap: 1.6rem;
    }

    @include small-tablet {
      padding: 5.6rem 2.4rem;
      gap: 2.4rem;
    }
  }

  /* .about__title */

  &__title {
    & sup {
      font-size: 3rem;
    }
  }

  /* .about__text */

  &__text {
    color: rgba(57, 60, 67, 0.7);
    width: 66.3rem;
    @include tablet {
      font-size: 1.6rem;
      width: 100%;
    }
    @include small-tablet {
      font-size: 2.8rem;
    }
  }

  /* .about__list */

  &__list {
    grid-column: span 2;
    display: grid;
    background-color: $gray;
    grid-template-columns: repeat(3, 1fr);
    // display: flex;
    // flex-wrap: wrap;
    gap: 1.2rem;
    padding: 1.2rem;
    border-radius: 3.2rem;
    @include tablet {
      order: 3;
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      padding: 2.8rem 1.6rem;
      border-radius: 2.4rem;
    }
    @include small-tablet {
      padding: 5.6rem 2.4rem;
      gap: 2.4rem;

    }
  }

  /* .about__item */

  &__item {
    background: $white;
    border-radius: 2rem;
    padding: 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // min-width: 55.6rem;
    // flex-grow: 1;
    gap: 6.8rem;
    @include tablet {
      flex-direction: column;
      gap: 2.2rem;
      border-radius: 1.2rem;
      padding: 1.2rem;
      align-items: flex-start;
    }
    @include small-tablet {
      gap: 4.4rem;
      border-radius: 1.6rem;
      padding: 2.4rem;
    }
  }

  /* .about__item-title */

  &__item-title {
    // width: 34.2rem;
    text-transform: uppercase;
    @include small-tablet {
      font-size: 3.2rem;
    }
  }

  /* .about__item-link */

  &__item-link {
    // padding: 1.4rem 2.5rem;
    // background-color: $accent;
    // color: $white;
    // border-radius: 1.8rem;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // width: fit-content;
    // @include tablet {
    //   font-size: 1.8rem;
    //   padding: 1.4rem;
    //   width: 100%;
    //   border-radius: 1.8rem;
    // }
    // @include small-tablet {
    //   font-size: 3.2rem;
    //   padding: 2.5rem;
    //   border-radius: 3.6rem;
    // }
  }
}
