<section class="about" id="about">
  <div class="about__container container">
    <div class="about__inner">
      <div class="about__block about__block--left">
        <div class="about__swiper-box">
          <div class="about__swiper swiper">
            <div class="about__swiper-wrapper swiper-wrapper">
              <div class="about__swiper-slide swiper-slide">
                <div class="about__swiper-slide-img-box">
                  <img src="./assets/images/aboutSlide1.webp" alt="" />
                </div>
              </div>
              <div class="about__swiper-slide swiper-slide">
                <div class="about__swiper-slide-img-box">
                  <img src="./assets/images/aboutSlide2.webp" alt="" />
                </div>
              </div>
              <div class="about__swiper-slide swiper-slide">
                <div class="about__swiper-slide-img-box">
                  <img src="./assets/images/aboutSlide3.webp" alt="" />
                </div>
              </div>
              <div class="about__swiper-slide swiper-slide">
                <div class="about__swiper-slide-img-box">
                  <img src="./assets/images/aboutSlide4.webp" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <ul class="about__list about__list--left">
          <li class="about__item about__item--left mobile">
            <p class="about__item-title tl4">патент</p>
            <a href="#" class="about__item-link txt18 txt18_medium">подробнее</a>
          </li>
          <li class="about__item about__item--left mobile">
            <p class="about__item-title tl4">регистрационное удостоверение</p>
            <a href="#" class="about__item-link txt18 txt18_medium">подробнее</a>
          </li>
          <li class="about__item about__item--left">
            <p class="about__item-title tl4">исследования по препарату</p>
            <a href="#" class="about__item-link txt18 txt18_medium">подробнее</a>
          </li>
          <li class="about__item about__item--left">
            <p class="about__item-title tl4">Инструкция по применению</p>
            <a href="#" class="about__item-link txt18 txt18_medium">подробнее</a>
          </li>
        </ul>
      </div>
      <div class="about__block about__block--right">
        <div class="about__text-box">
          <p class="about__title tl2">Типрессин<sup>®</sup></p>
          <p class="about__text txt20">
            Отечественный инновационный лекарственный препарат для лечения и профилактики заболеваний аллергического спектра.
            Применяется как в монотерапии, так и в составе комбинированной терапии у взрослых и детей с 2-х летнего возраста.
          </p>
        </div>

        <ul class="about__list about__list--right">
          <li class="about__item about__item--right">
            <p class="about__item-title tl4">патент</p>
            <a href="#" class="about__item-link txt18 txt18_medium">подробнее</a>
          </li>
          <li class="about__item about__item--right">
            <p class="about__item-title tl4">регистрационное удостоверение</p>
            <a href="#" class="about__item-link txt18 txt18_medium">подробнее</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
