<section class="about" id="about">
  <div class="about__container container">
    <div class="about__inner">
      <div class="about__swiper-box">
        <div class="about__swiper swiper">
          <div class="about__swiper-wrapper swiper-wrapper">
            <div class="about__swiper-slide swiper-slide">
              <div class="about__swiper-slide-img-box">
                <img src="./assets/images/aboutSlide1.webp" loading="lazy" alt="" />
              </div>
            </div>
            <div class="about__swiper-slide swiper-slide">
              <div class="about__swiper-slide-img-box">
                <img src="./assets/images/aboutSlide2.webp" loading="lazy" alt="" />
              </div>
            </div>
            <div class="about__swiper-slide swiper-slide">
              <div class="about__swiper-slide-img-box">
                <img src="./assets/images/aboutSlide3.webp" loading="lazy" alt="" />
              </div>
            </div>
            <div class="about__swiper-slide swiper-slide">
              <div class="about__swiper-slide-img-box">
                <img src="./assets/images/aboutSlide4.webp" loading="lazy" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="about__text-box">
        <p class="about__title tl2">
          О препарате Типрессин
          <sup>®</sup>
        </p>
        <p class="about__text txt20">
          Отечественный инновационный лекарственный препарат для лечения и профилактики заболеваний аллергического спектра.
          Применяется как в монотерапии, так и в составе комбинированной терапии у взрослых и детей с 2-х летнего возраста.
        </p>
      </div>

      <div class="about__list">
        <a href="#" class="about__item">
          <p class="about__item-title tl4">регистрационное удостоверение</p>
          <div class="about__item-btn">
            <div class="about__item-btn-svg">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="fill"
                  d="M2.92996 9.15173L2.07996 9.15173L2.07996 10.8517L2.92996 10.8517L2.92996 10.0017L2.92996 9.15173ZM16.1882 10.8517C16.6576 10.8517 17.0382 10.4712 17.0382 10.0017C17.0382 9.53229 16.6576 9.15173 16.1882 9.15173L16.1882 10.0017L16.1882 10.8517ZM2.92996 10.0017L2.92996 10.8517H16.1882L16.1882 10.0017L16.1882 9.15173H2.92996L2.92996 10.0017Z"
                  fill="#393C43"
                />
                <path class="stroke"
                  d="M11.3247 4.25561L17.0699 10.0009L11.3247 15.7461"
                  stroke="#393C43"
                  stroke-width="1.7"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
        </a>
        <a href="#" class="about__item">
          <p class="about__item-title tl4">Инструкция <br> по применению</p>
          <div class="about__item-btn">
            <div class="about__item-btn-svg">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="fill"
                  d="M2.92996 9.15173L2.07996 9.15173L2.07996 10.8517L2.92996 10.8517L2.92996 10.0017L2.92996 9.15173ZM16.1882 10.8517C16.6576 10.8517 17.0382 10.4712 17.0382 10.0017C17.0382 9.53229 16.6576 9.15173 16.1882 9.15173L16.1882 10.0017L16.1882 10.8517ZM2.92996 10.0017L2.92996 10.8517H16.1882L16.1882 10.0017L16.1882 9.15173H2.92996L2.92996 10.0017Z"
                  fill="#393C43"
                />
                <path class="stroke"
                  d="M11.3247 4.25561L17.0699 10.0009L11.3247 15.7461"
                  stroke="#393C43"
                  stroke-width="1.7"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
        </a>
        <a href="#" class="about__item">
          <p class="about__item-title tl4">Патент</p>
          <div class="about__item-btn">
            <div class="about__item-btn-svg">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="fill"
                  d="M2.92996 9.15173L2.07996 9.15173L2.07996 10.8517L2.92996 10.8517L2.92996 10.0017L2.92996 9.15173ZM16.1882 10.8517C16.6576 10.8517 17.0382 10.4712 17.0382 10.0017C17.0382 9.53229 16.6576 9.15173 16.1882 9.15173L16.1882 10.0017L16.1882 10.8517ZM2.92996 10.0017L2.92996 10.8517H16.1882L16.1882 10.0017L16.1882 9.15173H2.92996L2.92996 10.0017Z"
                  fill="#393C43"
                />
                <path class="stroke"
                  d="M11.3247 4.25561L17.0699 10.0009L11.3247 15.7461"
                  stroke="#393C43"
                  stroke-width="1.7"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
        </a>
        <a href="#" class="about__item">
          <p class="about__item-title tl4">Исследования</p>
          <div class="about__item-btn">
            <div class="about__item-btn-svg">
               <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="fill"
                  d="M2.92996 9.15173L2.07996 9.15173L2.07996 10.8517L2.92996 10.8517L2.92996 10.0017L2.92996 9.15173ZM16.1882 10.8517C16.6576 10.8517 17.0382 10.4712 17.0382 10.0017C17.0382 9.53229 16.6576 9.15173 16.1882 9.15173L16.1882 10.0017L16.1882 10.8517ZM2.92996 10.0017L2.92996 10.8517H16.1882L16.1882 10.0017L16.1882 9.15173H2.92996L2.92996 10.0017Z"
                  fill="#393C43"
                />
                <path class="stroke"
                  d="M11.3247 4.25561L17.0699 10.0009L11.3247 15.7461"
                  stroke="#393C43"
                  stroke-width="1.7"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
        </a>
        <a href="#" class="about__item">
          <p class="about__item-title tl4">Презентации <br> препарата</p>
          <div class="about__item-btn">
            <div class="about__item-btn-svg">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="fill"
                  d="M2.92996 9.15173L2.07996 9.15173L2.07996 10.8517L2.92996 10.8517L2.92996 10.0017L2.92996 9.15173ZM16.1882 10.8517C16.6576 10.8517 17.0382 10.4712 17.0382 10.0017C17.0382 9.53229 16.6576 9.15173 16.1882 9.15173L16.1882 10.0017L16.1882 10.8517ZM2.92996 10.0017L2.92996 10.8517H16.1882L16.1882 10.0017L16.1882 9.15173H2.92996L2.92996 10.0017Z"
                  fill="#393C43"
                />
                <path class="stroke"
                  d="M11.3247 4.25561L17.0699 10.0009L11.3247 15.7461"
                  stroke="#393C43"
                  stroke-width="1.7"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
        </a>
        <a href="#" class="about__item">
          <p class="about__item-title tl4">Статьи по теме</p>
          <div class="about__item-btn">
            <div class="about__item-btn-svg">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="fill"
                  d="M2.92996 9.15173L2.07996 9.15173L2.07996 10.8517L2.92996 10.8517L2.92996 10.0017L2.92996 9.15173ZM16.1882 10.8517C16.6576 10.8517 17.0382 10.4712 17.0382 10.0017C17.0382 9.53229 16.6576 9.15173 16.1882 9.15173L16.1882 10.0017L16.1882 10.8517ZM2.92996 10.0017L2.92996 10.8517H16.1882L16.1882 10.0017L16.1882 9.15173H2.92996L2.92996 10.0017Z"
                  fill="#393C43"
                />
                <path class="stroke"
                  d="M11.3247 4.25561L17.0699 10.0009L11.3247 15.7461"
                  stroke="#393C43"
                  stroke-width="1.7"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
