<section class="banner _first" id="banner">
  <div class="banner__container container">
    <div class="banner__inner">
      <div class="banner__content-box">
        <div class="banner__content-title-box">
          <p class="banner__content-subtitle tl2">
            Типрессин
            <sup>®</sup>
            - лечение
            <br />
            и профилактика заболеваний аллергического спектра.
          </p>
        </div>
        <ul class="banner__content-list">
          <li class="banner__content-item" data-mob-popup="#popup__characteristics1">
            <div class="banner__content-item-info-box">
              <div class="banner__content-item-svg-wrapper">
                <div class="banner__content-item-svg-box">
                  <img src="./assets/images/bannerItem1.svg" alt="" />
                </div>
              </div>
              <p class="banner__content-item-title txt20 txt20_medium">Первый препарат патогенетической терапии</p>
            </div>
            <a href="#" data-popup="#popup__characteristics1" class="banner__content-item-link txt18 txt18_medium desktop">
              подробнее
            </a>
          </li>
          <li class="banner__content-item" data-mob-popup="#popup__characteristics2">
            <div class="banner__content-item-info-box">
              <div class="banner__content-item-svg-wrapper">
                <div class="banner__content-item-svg-box">
                  <img src="./assets/images/bannerItem2.svg" alt="" />
                </div>
              </div>
              <p class="banner__content-item-title txt20 txt20_medium">Первый препарат с доказанным профилактическим действием</p>
            </div>
            <a href="#" data-popup="#popup__characteristics1" class="banner__content-item-link txt18 txt18_medium desktop">
              подробнее
            </a>
          </li>
          <li class="banner__content-item" data-mob-popup="#popup__characteristics1">
            <div class="banner__content-item-info-box">
              <div class="banner__content-item-svg-wrapper">
                <div class="banner__content-item-svg-box">
                  <img src="./assets/images/bannerItem3.svg" alt="" />
                </div>
              </div>
              <p class="banner__content-item-title txt20 txt20_medium">
                Сочетает в себе системное
                <br />
                и местное действие
              </p>
            </div>
            <a href="#" data-popup="#popup__characteristics1" class="banner__content-item-link txt18 txt18_medium desktop">
              подробнее
            </a>
          </li>
          <li class="banner__content-item">
            <div class="banner__content-item-info-box">
              <div class="banner__content-item-svg-wrapper">
                <div class="banner__content-item-svg-box">
                  <img src="./assets/images/bannerItem4.svg" alt="" />
                </div>
              </div>
              <p class="banner__content-item-title txt20 txt20_medium">
                Отсутствие побочных
                <br />
                эффектов
              </p>
            </div>
            <a href="#" class="banner__content-item-link txt18 txt18_medium desktop">подробнее</a>
          </li>
        </ul>
      </div>
      <div class="banner__info-box">
        <div class="banner__info-img-wrapper">
          <div class="banner__info-img-box">
            <img src="./assets/images/bannerInfoImg.webp " fetchpriority="high" decoding="async" loading="eager" alt="" />
          </div>
          <div class="banner__info-img-text-box">
            <p class="banner__info-img-num">2+</p>
            <p class="banner__info-img-text txt20">Лет</p>
          </div>
        </div>
        <div class="banner__info-text-box">
          <div class="banner__info-text-title-box">
            <p class="banner__info-text-title tl4">
              Типрессин
              <sup>®</sup>
            </p>
            <p class="banner__info-text-desc txt16">
              отечественный инновационный лекарственный препарат для лечения и профилактики заболеваний аллергического спектра.
              Применяется как в монотерапии, так и в составе комбинированной терапии у взрослых и детей с 2-х летнего возраста.
            </p>
          </div>
          <div class="banner__info-text-compound-box">
            <p class="banner__info-text-compound-title txt20 txt20_medium">Состав:</p>
            <p class="banner__info-text-compound-text txt16">Гамма-D-глутамил-D-триптофан натрия</p>
          </div>
        </div>
      </div>
      <div class="banner__img-box desktop">
        <img src="./assets/images/bannerPhoto.webp " loading="lazy" alt="" />
      </div>
    </div>
  </div>
</section>
