<section class="characteristics" id="characteristics">
  <div class="characteristics__container container">
    <div class="characteristics__inner">
      <p class="characteristics__title tl2">
        Уникальные характеристики Типрессина
        <sup>®</sup>
      </p>
      <div class="characteristics__content-box">
        <div class="characteristics__img-wrapper">
          <div class="characteristics__img-box">
            <img src="./assets/images/characteristicsImg.webp" alt="" />
          </div>
        </div>

        <ul class="characteristics__list">
          <li class="characteristics__item characteristics__item--left" style="top: 21.1rem; right: 105.2rem">
            <button class="characteristics__item-btn" data-popup="#popup__characteristics1">
              <p class="characteristics__item-btn-text txt18 txt18_medium">Изомеры пептидов</p>
              <div class="characteristics__item-btn-svg-box">
                <img src="./assets/images/plus.svg" alt="" />
              </div>
            </button>
            <div class="characteristics__item-img-box desktop" style="width: 14.1rem; height: 9.3rem; left: 100%; top: 50%">
              <img src="./assets/images/characteristics1.webp" alt="" />
            </div>
          </li>
          <li class="characteristics__item characteristics__item--left" style="top: 39.8rem; right: 115.2rem">
            <button class="characteristics__item-btn" data-popup="#popup__characteristics1">
              <p class="characteristics__item-btn-text txt18 txt18_medium">Изомеры пептидов</p>
              <div class="characteristics__item-btn-svg-box">
                <img src="./assets/images/plus.svg" alt="" />
              </div>
            </button>
            <div class="characteristics__item-img-box desktop" style="width: 19.9rem; height: 6.29rem; left: 100%; top: 50%">
              <img src="./assets/images/characteristics2.webp" alt="" />
            </div>
          </li>
          <li class="characteristics__item characteristics__item--left" style="top: 61.6rem; right: 108.5rem">
            <button class="characteristics__item-btn" data-popup="#popup__characteristics1">
              <p class="characteristics__item-btn-text txt18 txt18_medium">Профилактический эффект</p>
              <div class="characteristics__item-btn-svg-box">
                <img src="./assets/images/plus.svg" alt="" />
              </div>
            </button>
            <div class="characteristics__item-img-box desktop" style="width: 14.3rem; height: 6.77rem; left: 100%; bottom: 50%">
              <img src="./assets/images/characteristics3.webp" alt="" />
            </div>
          </li>
          <li class="characteristics__item characteristics__item--right" style="top: 15.3rem; left: 108.1rem">
            <button class="characteristics__item-btn" data-popup="#popup__characteristics1">
              <p class="characteristics__item-btn-text txt18 txt18_medium">Изомеры пептидов</p>
              <div class="characteristics__item-btn-svg-box">
                <img src="./assets/images/plus.svg" alt="" />
              </div>
            </button>
            <div class="characteristics__item-img-box desktop" style="width: 13.9rem; height: 9.18rem; right: 100%; top: 50%">
              <img src="./assets/images/characteristics5.webp" alt="" />
            </div>
          </li>
          <li class="characteristics__item characteristics__item--right" style="top: 39.8rem; left: 114.2rem">
            <button class="characteristics__item-btn" data-popup="#popup__characteristics1">
              <p class="characteristics__item-btn-text txt18 txt18_medium">Изомеры пептидов</p>
              <div class="characteristics__item-btn-svg-box">
                <img src="./assets/images/plus.svg" alt="" />
              </div>
            </button>
            <div class="characteristics__item-img-box desktop" style="width: 20.2rem; height: 11.875rem; right: 100%; top: 50%">
              <img src="./assets/images/characteristics4.webp" alt="" />
            </div>
          </li>
          <li class="characteristics__item characteristics__item--right" style="top: 63.2rem; left: 110.2rem">
            <button class="characteristics__item-btn" data-popup="#popup__characteristics1">
              <p class="characteristics__item-btn-text txt18 txt18_medium">Изомеры пептидов</p>
              <div class="characteristics__item-btn-svg-box">
                <img src="./assets/images/plus.svg" alt="" />
              </div>
            </button>
            <div class="characteristics__item-img-box desktop" style="width: 16.4rem; height: 9.1rem; right: 100%; bottom: 50%">
              <img src="./assets/images/characteristics6.webp" alt="" />
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
