<div class="cookie cookie--show">
  <div class="cookie__container container">
    <div class="cookie__inner">
      <div class="cookie__text-box">
        <p class="cookie__text txt20"></p>
        <p class="cookie__text txt20">
          АО «Бофарм» использует файлы
          <a href="#">cookie</a>
          , чтобы настоящий веб-сайт работал для Вас быстрее и эффективнее.
        </p>

        <div class="cookie__link-box">
          <a href="#" class="cookie__link">Политика использования файлов Cookie АО «ОТИСИФАРМ»</a>
        </div>
      </div>

      <button class="cookie__btn txt18 txt18_medium">согласен</button>
    </div>
  </div>
</div>
