<div class="disclaimer disclaimer--show">
  <div class="disclaimer__container container">
    <div class="disclaimer__inner">
      <div class="disclaimer__svg-box">
        <img src="./assets/images/disclaimer.svg" class="desktop" alt="" />
        <img src="./assets/images/disclaimerMob.svg" class="mobile" alt="" />
      </div>

      <button class="disclaimer__btn">
        <div class="disclaimer__btn-svg-box">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M2.45605 2.45539L17.5453 17.5447"
              stroke="#393C43"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M2.45605 17.5447L17.5453 2.45539"
              stroke="#393C43"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </button>
    </div>
  </div>
</div>
