<header class="header" id="header">
  <div class="header__container container">
    <div class="header__inner">
      <button class="header__burger mobile">
        <div class="header__burger-svg-box">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.5 5.83334H17.5" stroke="#2F3235" stroke-width="1.5" stroke-linecap="round" />
            <path d="M2.5 10H17.5" stroke="#2F3235" stroke-width="1.5" stroke-linecap="round" />
            <path d="M2.5 14.1667H17.5" stroke="#2F3235" stroke-width="1.5" stroke-linecap="round" />
          </svg>
        </div>
      </button>
      <a href="#header" class="header__logo-box nav-link">
        <div class="header__logo-img-box">
          <img src="./assets/images/logo.webp" alt="" />
        </div>
      </a>
      <button class="header__burger-close mobile">
        <div class="header__burger-close-svg-box">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M14.0358 1.96484L1.96436 14.0363"
              stroke="#717378"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M1.96436 1.96484L14.0358 14.0363"
              stroke="#717378"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </button>
      <div class="header__nav-wrapper" data-lenis-prevent="true">
        <div class="header__nav-inner">
          <nav class="header__nav-box">
            <ul class="header__nav-list">
              <li class="header__nav-item">
                <a href="#history" class="header__nav-link txt16 txt16_medium nav-link">История препарата</a>
              </li>
              <li class="header__nav-item">
                <a href="#characteristics" class="header__nav-link txt16 txt16_medium nav-link">Преимущества</a>
              </li>
              <li class="header__nav-item">
                <a href="#about" class="header__nav-link txt16 txt16_medium nav-link">О препарате</a>
              </li>
              <li class="header__nav-item">
                <a href="#where" class="header__nav-link txt16 txt16_medium nav-link">Где купить</a>
              </li>
            </ul>

            <a href="#application" class="header__nav-btn txt18 txt18_medium accent-btn nav-link">Задать вопрос</a>
          </nav>

          <div class="header__nav-social-box mobile">
            <p class="header__nav-social-title">Контактная информация:</p>
            <ul class="header__nav-social-list">
              <li class="header__nav-social-item">
                <p class="header__nav-social-item-text">АО «Бофарм»</p>
              </li>
              <li class="header__nav-social-item">
                <p class="header__nav-social-item-text">
                  Юридический адрес: 141191, Московская область, г. Фрязино, ул. Станционная, д. 2, строение 10, этаж 1, пом. 127
                </p>
              </li>
              <li class="header__nav-social-item">
                <p class="header__nav-social-item-text">Почтовый адрес: 123182, г. Москва, а/я 4</p>
              </li>

              <li class="header__nav-social-item">
                <p class="header__nav-social-item-text">
                  Телефон:
                  <a href="tel:+74959891776">+7 (495) 989–17–76</a>
                </p>
              </li>
              <li class="header__nav-social-item">
                <p class="header__nav-social-item-text">
                  Электронная почта:

                  <a href="mailto:sales@bofarm.ru">sales@bofarm.ru</a>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
