<section class="where" id="where">
  <div class="where__container container">
    <div class="where__inner">
      <p class="where__title tl2">Где купить Типрессин</p>
      <ul class="where__list">

        <li class="where__item">
          <a href="#" class="where__link">
            <div class="where__img-box">
              <img src="./assets/images/where2.webp" alt="" />
            </div>
            <div class="where__city-box">
              <p class="where__city txt20 txt20_medium">Москва</p>
            </div>
          </a>
        </li>
        <li class="where__item">
          <a href="#" class="where__link">
            <div class="where__img-box">
              <img src="./assets/images/where3.webp" alt="" />
            </div>
            <div class="where__city-box">
              <p class="where__city txt20 txt20_medium">Уфа, Москва</p>
            </div>
          </a>
        </li>
        <li class="where__item">
          <a href="#" class="where__link">
            <div class="where__img-box">
              <img src="./assets/images/where4.webp" alt="" />
            </div>
            <div class="where__city-box">
              <p class="where__city txt20 txt20_medium">Краснодар, Москва</p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
